{% extends 'base.html' %}
{% load static %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block conteudo %}
<div class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">{{ titulo }}</h2>

        <!-- Exibe erros gerais do formulário -->
        {% if form.errors %}
            <div class="mb-4 p-4 bg-red-100 text-red-700 rounded">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <!-- Campo Contato -->
            <div class="mb-4">
                <label for="contatos" class="block text-gray-700 font-semibold mb-2">Contatos</label>
                <input type="text" name="contato" id="contato" value="{% if form.contato.value %}{{ form.contato.value|join:', ' }}{% endif %}" class="w-full border border-gray-300 rounded-md p-2">
                {% if form.contato.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.contato.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Campo Data de Disparo -->
            <div class="mb-4">
                <label class="block text-gray-700 font-semibold mb-2">Dias de Disparo</label>
                <div class="w-full border border-gray-300 rounded-md p-2">
                    {% for checkbox in form.dias_disparo %}
                        <label class="flex items-center space-x-2">
                            {{ checkbox.tag }}
                            <span class="text-gray-700">{{ checkbox.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
                {% if form.dias_disparo.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.dias_disparo.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Campo Horário de Disparo -->
            <div class="mb-4">
                <label for="horario_disparo" class="block text-gray-700 font-semibold mb-2">Horário de Disparo</label>
                {{ form.horario_disparo }}
                {% if form.horario_disparo.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.horario_disparo.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Campo Intervalo de Disparo -->
            <div class="mb-4">
                <label for="intervalo_disparo" class="block text-gray-700 font-semibold mb-2">Intervalo de Disparo (Segundos)</label>
                {{ form.intervalo_disparo }}
                {% if form.intervalo_disparo.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.intervalo_disparo.errors.0 }}</p>
                {% endif %}
            </div>  

            <div class="mb-4">
                <label for="{{ form.modo_envio.id_for_label }}" class="block text-sm font-medium">{{ form.modo_envio.label }}</label>
                {{ form.modo_envio }}
            </div>
            <div class="mb-4" id="campo_midia">
                <label class="block text-gray-700 font-semibold mb-2">Midias:</label>
                <select name="midia" class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="">Selecione...</option>
                    {% for midia in midias %}
                        <option value="{{ midia.id }}" {% if midia_select and midia_select.id == midia.id %} selected {% endif %}>{{ midia.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-4" id="campo_tipo_envio">
                <label for="{{ form.tipo_envio.id_for_label }}" class="block text-sm font-medium">{{ form.tipo_envio.label }}</label>
                {{ form.tipo_envio }}
            </div>

            <!-- Campo Mensagem de Notificação -->
            <div class="mb-4" id="campo_mensagem">
                <label for="mensagem_notificacao" class="block text-gray-700 font-semibold mb-2">Mensagem da Notificação</label>
                {{ form.mensagem_notificacao }}
                {% if form.mensagem_notificacao.errors %}
                    <p class="text-red-500 text-sm mt-1">{{ form.mensagem_notificacao.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Botão de Enviar -->
            <div class="flex justify-center">
                <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    {{ mensagem_botao }}
                </button>
            </div>
        </form>
    </div>

    <!-- Máscara de telefone -->
    <script src="https://unpkg.com/imask"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const modoEnvio = document.getElementsByName("modo_envio")[0];
            const campoMidia = document.getElementById("campo_midia");
            const campoMensagem = document.getElementById("campo_mensagem");
            const campoTipoEnvio = document.getElementById("campo_tipo_envio");
        
            function atualizarCampos() {
                const valorSelecionado = modoEnvio.value;
        
                if (valorSelecionado === "texto") {
                    campoMensagem.classList.remove("hidden"); // Exibe o campo de mensagem
                    campoMidia.classList.add("hidden"); // Esconde a mídia
                    campoTipoEnvio.classList.add("hidden"); // Esconde o tipo de envio
                } else if (valorSelecionado === "midia") {
                    campoMensagem.classList.add("hidden"); // Esconde o campo de mensagem
                    campoMidia.classList.remove("hidden"); // Exibe a mídia
                    campoTipoEnvio.classList.add("hidden"); // Esconde o tipo de envio
                } else if (valorSelecionado === "ambos") {
                    campoMensagem.classList.remove("hidden"); // Exibe mensagem
                    campoMidia.classList.remove("hidden"); // Exibe mídia
                    campoTipoEnvio.classList.remove("hidden"); // Exibe a escolha de ordem
                }
            }
        
            // Atualiza os campos ao mudar o modo de envio
            modoEnvio.addEventListener("change", atualizarCampos);
        
            // Atualiza a exibição ao carregar a página
            atualizarCampos();
        });
    </script>
</div>
{% endblock %}
