{% extends 'base.html' %}
{% load static %}

{% block titulo %}Dashboard{% endblock %}
{% block conteudo %}

    <div class="container py-2 mx-auto">
        {% if not status %}
            <div class="flex justify-center mb-4">
                <span class="bg-red-500 text-white px-4 py-2 rounded-md inline-block">Você não está conectado, se conecte para enviar as mensagens!</span>
            </div>
        {% endif %}

        <!-- Exibindo quantidade de mensagens enviadas hoje e limite -->
        <div class="text-center mb-6">
            <p>📊 Mensagens enviadas hoje: <strong>{{ mensagens_enviadas }}/{{ limite_diario }}</strong></p>
            {% if mensagens_enviadas >= limite_diario %}
                <p class="text-red-500">🚨 Você atingiu o limite diário de mensagens!</p>
            {% endif %}
        </div>

        <h1 class="text-3xl font-bold text-center mb-6">Mensagens Cadastradas</h1>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead>
                    <tr class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-center">Dias de Disparo</th>
                        <th class="py-3 px-6 text-center">Horário de Disparo</th>
                        <th class="py-3 px-6 text-center">Contatos</th>
                        <th class="py-3 px-6 text-center">Intervalo de Disparo</th>
                        <th class="py-3 px-6 text-center">Mensagem</th>
                        <th class="py-3 px-6 text-center">Mídia</th>
                        <th class="py-3 px-6 text-center">Ações</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm">
                    {% for mensagem in mensagens %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-center">{{ mensagem.dias_disparo }}</td>
                        <td class="py-3 px-6 text-center">{{ mensagem.horario_disparo }}</td>
                        <td class="py-3 px-6 text-center">{{ mensagem.contato }}</td>
                        <td class="py-3 px-6 text-center">{{ mensagem.intervalo_disparo }}</td>
                        <td class="py-3 px-6 text-center">{{ mensagem.mensagem_notificacao }}</td>
                        <td class="py-3 px-6 text-center">
                            {% if mensagem.midia %}
                                <a href="{% url 'gerar_presigned_url' mensagem.midia.id %}" target="_blank" class="text-blue-500 hover:underline">Ver arquivo</a>
                            {% else %}
                                Sem mídia
                            {% endif %}
                        </td>
                        <td class="py-3 px-6 text-center flex items-center justify-center">
                            <!-- Botão para editar -->
                            <a href="{% url 'editar_aula' mensagem.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 mr-2">Editar</a>
                            <!-- Botão para excluir -->
                            <a href="{% url 'excluir_aula' mensagem.id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Excluir</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="py-3 px-6 text-center text-gray-500">Nenhuma mensagem cadastrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center mt-6">
            <a href="{% url 'cadastrar_aula' %}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Cadastrar Nova mensagem</a>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
